/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEF 0
#define HID_IO_USAGE_FEW_TO_JOYSTICK 1

/ {
    zip_fwd_to_hid_io: zip_forward_fwd_to_hid_io {
        compatible = 'zmk,input-processor-fwd-to-hid-io';
        #input-processor-cells = <0>;
        usage =<HID_IO_USAGE_FEW_TO_JOYSTICK>;
    };

    hidiokp: hid_io_key_press{
        compatible = 'zmk,behavior-hid-io-key-press';
        #binding-cells= <1>;
    };
    hidiokp_ibl {
        compatible = 'zmk,input-behavior-listener';
        input-processors = <&zip_fwd_to_hid_io>;
    };

    macros {
        alt_tab: alt_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>; 
            bindings = <&macro_press &kp LALT>
                    , <&macro_tap &kp TAB>
                    , <&macro_release &kp LALT>
                    ; 
        };

        ctrl_tab: ctrl_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>; 
            bindings = <&macro_press &kp LCTRL>
                    , <&macro_tap &kp TAB>
                    , <&macro_release &kp LCTRL>
                    ;
        };

        deploy: deploy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>; 
            bindings = <&macro_press &kp LSHIFT>
                    , <&macro_tap &kp F5>
                    , <&macro_release &kp LSHIFT>
                    ;
        };

        reload: reload {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>; 
            bindings = <&macro_press &kp LCTRL>
                    , <&macro_tap &kp R>
                    , <&macro_release &kp LCTRL>
                    ;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        first {
            display-name = "FIRST";
// -------------------
// |    1L   |  VOL_UP | VOL_DOWN |
// |   ESC   |SCREENCUT|  RELOAD  |
// | CTRL_TAB|  LCTRL  |  ALT_TAB |
// ----------------------
            bindings = <
                &to 1       &kp C_VOL_DN &kp C_VOL_UP
                &kp ESC     &kp PSCRN    &reload 
                &ctrl_tab   &kp LCTRL    &alt_tab
            >;
        };

        bot {
            display-name = "BOT";
// -----------------------
// |  0L     |  SPACE  |  ENTER  |
// | DEPLOY  |  PS1    |  PS2    |
// |  PS3    |  PS4    |  PS5    |
// -----------------------
            bindings = <
                &to 0       &kp SPACE   &kp ENTER
                &deploy     &hidiokp 0  &hidiokp 0
                &hidiokp 0  &hidiokp 0  &hidiokp 0
            >;
        };
    };
};

